apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lab25-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Shimaa-esmat/iVolve-Tasks.git
    targetRevision: main
    path: ArgoCD/lab25/k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

