apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:
        - key: node
          operator: Equal
          value: worker
          effect: NoSchedule
      containers:
        - name: nodejs
          image: shimaaesmat/nodejs:lab9
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: nodejs-config
          volumeMounts:
            - name: nodejs-logs
              mountPath: /app/logs
      volumes:
        - name: nodejs-logs
          persistentVolumeClaim:
            claimName: nodejs-pvc

