apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-logs-pvc
  namespace: default
  labels:
    app: nodejs
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: manual
  selector:
    matchLabels:
      type: local
    matchExpressions:
    - key: environment
      operator: In
      values:
      - production
  volumeMode: Filesystem
