apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: jenkins
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      imagePullSecrets:
      - name: jenkins-dockerhub-secret
      containers:
      - name: app-container
        image: shimaaesmat/nodejs:latest
        ports:
        - containerPort: 3000
        imagePullPolicy: Always
